<div class="container">
  <div *ngIf="basketService.count() > 0">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <md-list>
          <md-list-item *ngFor="let book of basketService.get()">
            <md-icon md-list-avatar>book</md-icon>
            <img [src]="book.cover" height="50" width="34">
            <h4 md-line>{{book.title}}</h4>
            <h4 md-line>Quantity: {{book.quantity}}</h4>
            <p md-line> {{(book.quantity*book.price) | currency:'USD':true}} </p>
              <md-icon class="icon" (click)="basketService.delete(book.isbn)">delete</md-icon>
            <md-divider></md-divider>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </div>
    </div>

    <div class="row total">
      <div class="col-xs-3 col-xs-offset-3">Total price</div>
      <div class="col-xs-3">
        {{basketService.getTotal() | currency:'USD':true}}
      </div>
    </div>

    <div class="row total">
      <div class="col-xs-3 col-xs-offset-3"><b>Total price with special discount</b></div>
      <div class="col-xs-3">
        <b>
          {{basketService.getTotalWithOffers() | currency:'USD':true}}
        </b>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="basketService.count() === 0">
    <div class="empty col-xs-offset-3 col-xs-6">
      <md-icon class="example-icon">shopping_basket</md-icon>
      Your basket is empty, go on and visit the <a routerLink="/" routerLinkActive="active">shop</a> !
    </div>
  </div>
</div>
