<md-card class="app-card">
  <md-card-header>
    <div md-card-avatar class="app-header-image"></div>
    <md-card-title>{{book.title}}</md-card-title>
    <md-card-subtitle><i>{{book.price | currency:'USD':true}}</i></md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="book.cover">
  <md-card-content>
    <p *ngIf="!synopsisVisible">
      <span *ngIf="book.synopsis && book.synopsis[0]">{{book.synopsis[0]}}...</span>
      <span class="link" (click)="showSynopsis()">See more</span>
    </p>
    <p *ngIf="synopsisVisible">
      <span *ngFor="let line of book.synopsis">{{line}}&nbsp;</span>
      <span class="link" (click)="hideSynopsis()">See less</span>
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-mini-fab color="primary" (click)="addToShoppingCart()">
      <md-icon>add_shopping_cart</md-icon>
    </button>
  </md-card-actions>
</md-card>
